.divNavContainer {
    display: flex;
    justify-content: center;
    width: 99.35vw;
    background-color: #000000;
    border: 5px solid #333333;
    height: 50px;
}

.divNavElement {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Pixel, Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    color: #8a8a8a;
    padding-left: 30px;
    padding-right: 30px;
}

.navRef {
    text-decoration: none;
    color: #d4d4d4;
}

.navRef:hover {
    color: #ffffff;
}

.logOutButton {
    height: 30px;
    width: 8vw;
    border-radius: 20px;
    border: none;
    color: #d4d4d4;
    background: #333;
    font-family: Pixel, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
}

.logOutButton:hover {
    border: 3px solid #d4d4d4;
}