.divContentWrapper {
    display: flex;
    flex-direction: column;
    padding: 15px 35px;
}

.divInputForm {
    display: flex;
    flex-direction: column;
    padding: 10px 35px;
}

.divAddressInputStyle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inputAddressStyle {
    margin-left: 127px;
}

.divMaxAmountAndFeeContainer {
    display: flex;
}

.maxButtonStyle {
    height: 45px;
    width: 13.1vw;
}

.divAmountAndFeeText {
    display: flex;
    align-items: center;
    color: black;
    font-family: Impact, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

.amountInputStyle {
    width: 20.75vw;
    margin-left: 55px;
    margin-right: 10px;
}

.inputFee {
    margin-left: 10px;
    margin-right: 15px;
    width: 20.75vw;
}

.divPasswordStyle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inputPasswordStyle {
    margin-left: 110px;
}

.divSendButtonStyle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sendButtonStyle {
    height: 44px;
    width: 14vw;
    margin-left: 15px;
    margin-top: 5px;
    padding: 0;
}
